.categories {
    display: flex;    
    margin-bottom: 10px;
}

.createPost {
    display: block;
}

.postView {
    font-size: 20px;
    text-decoration:  none;
    padding: 0px;
}

.comment {
    border: 1px solid #f2f2f2;
    margin-bottom: 2px;
    padding: 3px;
}

span {
    padding: 3px;
    font-size: small;
}

.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    border: solid 1px #f5f5f5;    
    margin: 5px 0;
    background-color: #FCFCFC;    
}
.title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    text-decoration: none;    
}

a:hover {
    text-decoration: none;
}

.voteBox {
    text-align: center;
    float: left;
    margin: 0 10px;
}

.upVote, .downVote, .deletePost {
    border: 0;
    background: none;
    cursor: pointer;
}

.faArrowUp, .faArrowDown, faTrashO, faPencil {
    color: #c6c6c6;
}

.postControlBox {
    display: flex;
    clear: right;
    margin-left: 42px;  
    height: 2em;
}

.commentCount {
    padding-top: 2px;
}

.editPost {
    padding-top: 1px;  
}

.postAuthorInfo {
    font-size: small;
    margin: 0;
    margin-left: 42px;      
}

h6 {
    margin-left: 42px;      
}

.addPostButton {
    background-color: #7CFC00;
    border: 0;
    opacity: 1;
    margin-bottom: 5px;
}



