.categories {
    display: flex;    
}

.createPost {
    display: block;
}

.postView {
    font-size: 20px;
    text-decoration:  none;
    padding: 0px;
}

.comment {
    border: 1px solid #f2f2f2;
    margin-bottom: 2px;
    padding: 3px;
}

span {
    padding: 3px;
    font-size: small;
}

.posts ul {
    list-style: none;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    text-decoration: none;    
}

a:hover {
    text-decoration: none;
}